<div *ngIf="isSignedUp; else signupForm"><p class="message-signup">Your registration is successful. Please login!</p></div>

<ng-template #signupForm>
  <div class="row col-sm-6 d-flex register" style="max-width:500px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" enctype="multipart/form-data" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" name="firstName" [(ngModel)]="form.firstName" #firstName="ngModel" required/>
        <div *ngIf="f.submitted && firstName.invalid">
          <div *ngIf="firstName.errors.required">First Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" name="lastName" [(ngModel)]="form.lastName" #lastName="ngModel" required/>
        <div *ngIf="f.submitted && lastName.invalid">
          <div *ngIf="lastName.errors.required">Last Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="username">UserName</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel" required/>
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" required email/>
        <div *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-group">
        <label for="avatar">Avatar</label>
        <input type="file" accept="image/*" class="form-control" name="avatar" [(ngModel)]="form.avatar"
               #avatar="ngModel" (change)="fileChange($event)">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
               required minlength="6"/>
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassWord">Confirm Password</label>
        <input type="password" class="form-control" name="confirmPassWord" [(ngModel)]="form.confirmPassWord" #confirmPassWord="ngModel"
               required minlength="6"/>
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="confirmPassWord.errors.required">Password is required</div>
          <div *ngIf="confirmPassWord.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Register</button>
        <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
          Signup failed!<br/>{{errorMessage}}
        </div>
      </div>
    </form>
  </div>
</ng-template>
